@page
@model EnergyIndicatorsModel
@{
}
<h1>Llista de consums</h1>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>CDEEBC_ProdNeta</th>
            <th>CDEEBC_ProdDisp</th>
            <th>CDEEBC_DemandaElectr</th>
            <th>CCAC_GasolinaAuto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var consum in Model.indicators)
        {
            <tr>
                <td>@consum.Data</td>
                <td>@consum.CDEEBC_ProdNeta</td>
                <td>@consum.CDEEBC_ProdDisp</td>
                <td>@consum.CDEEBC_DemandaElectr</td>
                <td>@consum.CCAC_GasolinaAuto</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="AddConsume" class="btn btn-primary">Afegir nova simulació</a>
